In [24]:
import pandas as pd

In [25]:
dataframe = pd.read_csv("ResultadosElectorales_2023.csv")

C:\Users\LEONEL\AppData\Local\Temp\ipykernel_20272\2553626382.py:1: DtypeWarning: Columns (7,10,11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("ResultadosElectorales_2023.csv")

In [26]:
datos = dataframe.dtypes
print(datos)

año                           int64
eleccion_tipo                object
recuento_tipo                object
padron_tipo                  object
distrito_id                   int64
distrito_nombre              object
seccionprovincial_id          int64
seccionprovincial_nombre     object
seccion_id                    int64
seccion_nombre               object
circuito_id                  object
circuito_nombre              object
mesa_id                       int64
mesa_tipo                    object
mesa_electores                int64
cargo_id                      int64
cargo_nombre                 object
agrupacion_id                 int64
agrupacion_nombre            object
lista_numero                float64
lista_nombre                 object
votos_tipo                   object
votos_cantidad                int64
dtype: object

In [27]:
dataframe.shape

(5868102, 23)

In [28]:
dataframe.columns

Index(['año', 'eleccion_tipo', 'recuento_tipo', 'padron_tipo', 'distrito_id',
       'distrito_nombre', 'seccionprovincial_id', 'seccionprovincial_nombre',
       'seccion_id', 'seccion_nombre', 'circuito_id', 'circuito_nombre',
       'mesa_id', 'mesa_tipo', 'mesa_electores', 'cargo_id', 'cargo_nombre',
       'agrupacion_id', 'agrupacion_nombre', 'lista_numero', 'lista_nombre',
       'votos_tipo', 'votos_cantidad'],
      dtype='object')

In [29]:
dataframe.head(3)

,año,eleccion_tipo,recuento_tipo,padron_tipo,distrito_id,distrito_nombre,seccionprovincial_id,seccionprovincial_nombre,seccion_id,seccion_nombre,...,mesa_tipo,mesa_electores,cargo_id,cargo_nombre,agrupacion_id,agrupacion_nombre,lista_numero,lista_nombre,votos_tipo,votos_cantidad
0,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,NULO,0
1,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,IMPUGNADO,0
2,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,RECURRIDO,0

In [30]:
filtro = (dataframe["distrito_nombre"] == "Ciudad Autónoma de Buenos Aires") & (dataframe["cargo_nombre"] == "PRESIDENTE Y VICE") & (dataframe["agrupacion_nombre"] == "UNION POR LA PATRIA") & (dataframe["seccion_nombre"] == "Comuna 01")
resultado = dataframe.loc[filtro, "votos_cantidad"].sum()
resultado
#Son los votos de la agrupacion en CABA, aparece despues de filtrar. la idea ahora es incluir ese resultado en la tabla

38645

In [31]:
dataframe.tail(2)

,año,eleccion_tipo,recuento_tipo,padron_tipo,distrito_id,distrito_nombre,seccionprovincial_id,seccionprovincial_nombre,seccion_id,seccion_nombre,...,mesa_tipo,mesa_electores,cargo_id,cargo_nombre,agrupacion_id,agrupacion_nombre,lista_numero,lista_nombre,votos_tipo,votos_cantidad
5868100,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,5,Comuna 05,...,EXTRANJEROS,360,12,DIPUTADOS/AS DE LA CIUDAD AUTONOMA,10801,LA LIBERTAD AVANZA,NaN,NaN,POSITIVO,18
5868101,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,5,Comuna 05,...,EXTRANJEROS,360,12,DIPUTADOS/AS DE LA CIUDAD AUTONOMA,10804,FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD,NaN,NaN,POSITIVO,3

In [32]:
dataframe["agrupacion_nombre"].to_frame()
# mejor usar doble corchete
# con corchete simple se ve como una tupla

                                      agrupacion_nombre
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                   UNION POR LA PATRIA
...                                                 ...
5868097                                             NaN
5868098                             UNION POR LA PATRIA
5868099                            JUNTOS POR EL CAMBIO
5868100                              LA LIBERTAD AVANZA
5868101  FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD

[5868102 rows x 1 columns]

In [33]:
dataframe[["agrupacion_nombre","votos_cantidad"]]
#con doble corchete y pasando solo los nombres traes columnas

                                      agrupacion_nombre  votos_cantidad
0                                                   NaN               0
1                                                   NaN               0
2                                                   NaN               0
3                                                   NaN               0
4                                   UNION POR LA PATRIA              95
...                                                 ...             ...
5868097                                             NaN               0
5868098                             UNION POR LA PATRIA              40
5868099                            JUNTOS POR EL CAMBIO              22
5868100                              LA LIBERTAD AVANZA              18
5868101  FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD               3

[5868102 rows x 2 columns]

In [34]:
dataframe.groupby(["agrupacion_nombre","votos_cantidad"]).size().to_frame().head(5)
#Agrupamos las agrupaciones y nos indica los votos que tuvo cada uno (pero no es la suma)
#va a mostrar que ACCION VILLARINO tuvo una fila con 29 votos 1 sola vez, o una fila de 39 votos 2 veces, NO SON LOS VOTOS TOTAL

                                     0
agrupacion_nombre    votos_cantidad
ACCION POR VILLARINO 29              1
                     38              1
                     39              2
                     42              2
                     43              1

In [35]:
dataframe.groupby(["agrupacion_nombre"])["votos_cantidad"].sum().to_frame()
#Ahora si es la suma (se puede sacar promedio, producto, etc, etc)
#Primero se agrupa por agrupacion y despues se calcula la suma de los votos_cantidad
#Si se agrega otro argumento dentro del groupBy, va a cambiar el dataframe

                                   votos_cantidad
agrupacion_nombre
ACCION POR VILLARINO                         6242
ACCION VECINAL GENERAL VILLEGAS               962
AGRUP.VECINAL 24 DE OCTUBRE                  2108
AGRUPACION COMUNAL TRANSFORMADORA            5704
AHORA PATRIA                               570814
...                                           ...
UNIDOS POR LONDRES                           2204
UNION POR LA PATRIA                      54402866
UNION POR SAN LUIS                         243351
UNION Y LIBERTAD                            48679
VECINALISMO POR BRANDSEN                      640

[84 rows x 1 columns]

In [36]:
dataframe.groupby(["agrupacion_nombre","mesa_tipo"])["votos_cantidad"].mean().to_frame()

                                             votos_cantidad
agrupacion_nombre               mesa_tipo
ACCION POR VILLARINO            EXTRANJEROS       47.750000
                                NATIVOS           79.189189
ACCION VECINAL GENERAL VILLEGAS EXTRANJEROS        3.000000
                                NATIVOS           12.139241
AGRUP.VECINAL 24 DE OCTUBRE     EXTRANJEROS        3.000000
...                                                     ...
UNION POR LA PATRIA             NATIVOS           89.340490
UNION POR SAN LUIS              NATIVOS           61.874142
UNION Y LIBERTAD                NATIVOS           12.377066
VECINALISMO POR BRANDSEN        EXTRANJEROS        4.500000
                                NATIVOS            8.089744

[128 rows x 1 columns]

In [37]:
dataframe.groupby(["agrupacion_nombre"])["votos_cantidad"].max().to_frame()
#Va a devolover un df mostrando la mayor cantidad (el valor maximo) de votos que hubo en una fila

                                   votos_cantidad
agrupacion_nombre
ACCION POR VILLARINO                          138
ACCION VECINAL GENERAL VILLEGAS                70
AGRUP.VECINAL 24 DE OCTUBRE                    50
AGRUPACION COMUNAL TRANSFORMADORA              42
AHORA PATRIA                                  196
...                                           ...
UNIDOS POR LONDRES                            180
UNION POR LA PATRIA                           300
UNION POR SAN LUIS                            212
UNION Y LIBERTAD                               80
VECINALISMO POR BRANDSEN                       23

[84 rows x 1 columns]

In [38]:
#Con agrregate (agg) podemos incluir mas medidas de agregacion
#Se agrupa x las diferentes agrupaciones, y se aplica a votos cantidad las operaciones
dataframe.groupby("agrupacion_nombre")["votos_cantidad"].agg(["max","min","sum","std"])

                                   max  min       sum        std
agrupacion_nombre
ACCION POR VILLARINO               138   29      6242  24.651342
ACCION VECINAL GENERAL VILLEGAS     70    0       962  11.406166
AGRUP.VECINAL 24 DE OCTUBRE         50    0      2108  13.050349
AGRUPACION COMUNAL TRANSFORMADORA   42    0      5704   8.165536
AHORA PATRIA                       196    0    570814  33.145793
...                                ...  ...       ...        ...
UNIDOS POR LONDRES                 180  114      2204  18.094198
UNION POR LA PATRIA                300    0  54402866  42.474832
UNION POR SAN LUIS                 212    0    243351  22.539897
UNION Y LIBERTAD                    80    0     48679   6.534357
VECINALISMO POR BRANDSEN            23    0       640   4.354541

[84 rows x 4 columns]

In [39]:
dataframe.groupby("agrupacion_nombre")["votos_cantidad"].agg(maximo ="max",minimo ="min", variacion_std = "std", total_votos ="sum")
#Lo mismo que arriba pero mostramos que podemos asignar nombres a los resultados en vez de usar los x default
#Puedo hacer calculos de diferentes columnas a la vez tmb (pero en ese df solo hay votos para trabajar integers)

                                   maximo  minimo  variacion_std  total_votos
agrupacion_nombre
ACCION POR VILLARINO                  138      29      24.651342         6242
ACCION VECINAL GENERAL VILLEGAS        70       0      11.406166          962
AGRUP.VECINAL 24 DE OCTUBRE            50       0      13.050349         2108
AGRUPACION COMUNAL TRANSFORMADORA      42       0       8.165536         5704
AHORA PATRIA                          196       0      33.145793       570814
...                                   ...     ...            ...          ...
UNIDOS POR LONDRES                    180     114      18.094198         2204
UNION POR LA PATRIA                   300       0      42.474832     54402866
UNION POR SAN LUIS                    212       0      22.539897       243351
UNION Y LIBERTAD                       80       0       6.534357        48679
VECINALISMO POR BRANDSEN               23       0       4.354541          640

[84 rows x 4 columns]

In [78]:
#Vamos a filtrar segun algunas variables. En este caso por votos, solo vamos a mostrar las agrupaciones que pasen un umbral de votos >60000
filtro = dataframe.groupby("agrupacion_nombre")["votos_cantidad"].agg(votos_total = sum)
#Primero agrupamos por agrupaciones y sumamos su total de votos, ademas le ponemos nombre a todo se va a ver la suma

C:\Users\LEONEL\AppData\Local\Temp\ipykernel_20272\4071670541.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  filtro = dataframe.groupby("agrupacion_nombre")["votos_cantidad"].agg(votos_total = sum)

In [79]:
filtro

                                   votos_total
agrupacion_nombre
ACCION POR VILLARINO                      6242
ACCION VECINAL GENERAL VILLEGAS            962
AGRUP.VECINAL 24 DE OCTUBRE               2108
AGRUPACION COMUNAL TRANSFORMADORA         5704
AHORA PATRIA                            570814
...                                        ...
UNIDOS POR LONDRES                        2204
UNION POR LA PATRIA                   54402866
UNION POR SAN LUIS                      243351
UNION Y LIBERTAD                         48679
VECINALISMO POR BRANDSEN                   640

[84 rows x 1 columns]

In [80]:
filtro.columns
#Vamos a ver que hay solo una columna (votos_total), agrupacion_nombre ahora es el Index
#Hay que tratar que sea una columna las agrupaciones y los index sean numerados como antes

Index(['votos_total'], dtype='object')

In [81]:
#creamos otro df usando el df filtrado. Indicamos que muestre los mayores a 60k.. y ademas le reseteamos el index para que las agrupaciones 
#sean columna en este nuevo df
filtro2= filtro.loc[(filtro["votos_total"] > 60000)].reset_index()

In [84]:
filtro2.shape
#Corroboramos que ahora hay 2 COLUMNAS y no solo 1 como antes, y ademas hay menos filas, o sea, funciono.

(29, 2)

In [85]:
filtro2

                                    agrupacion_nombre  votos_total
0                                        AHORA PATRIA       570814
1                                      ARRIBA NEUQUEN       268324
2                                         AUTONOMISTA        79267
3                                        CAMBIA JUJUY       282475
4                                      CAMBIA MENDOZA       565914
5                               ENCUENTRO MARPLATENSE       138912
6     ENCUENTRO POR CORRIENTES - ECO+VAMOS CORRIENTES       438735
7                                                  FE       250269
8                          FRENTE CIVICO POR SANTIAGO       739080
9      FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD      4811150
10                                   FRENTE RENOVADOR        73015
11  FRENTE RENOVADOR DE LA CONCORDIA - INNOVACION ...       748215
12                                 FUERZA REPUBLICANA       561508
13                           HACEMOS POR NUESTRO PAIS      4823125
14                               JUNTOS POR EL CAMBIO     36427638
15                        JUNTOS POR EL CAMBIO CHUBUT       139137
16                      JUNTOS POR EL CAMBIO LA PAMPA       102916
17                              JUNTOS POR ENTRE RIOS       529254
18                             JUNTOS SOMOS RIO NEGRO       116133
19                              LA FUERZA DE SANTA FE       365409
20                                 LA LIBERTAD AVANZA     36823708
21                                MAS PARA ENTRE RIOS       569816
22                          MOVIMIENTO LIBRES DEL SUR        80835
23                           PARTIDO AGRARIO Y SOCIAL        76420
24                                     POR SANTA CRUZ       314128
25                                  RENOVADOR FEDERAL       453316
26                                REPUBLICANOS UNIDOS        61066
27                                UNION POR LA PATRIA     54402866
28                                 UNION POR SAN LUIS       243351

In [88]:
#chequeamos que si son 2 columnas
filtro2.columns

Index(['agrupacion_nombre', 'votos_total'], dtype='object')