In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("ResultadosElectorales_2023.csv")

C:\Users\LEONEL\AppData\Local\Temp\ipykernel_17200\2553626382.py:1: DtypeWarning: Columns (7,10,11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("ResultadosElectorales_2023.csv")

In [3]:
datos = dataframe.dtypes
print(datos)

año                           int64
eleccion_tipo                object
recuento_tipo                object
padron_tipo                  object
distrito_id                   int64
distrito_nombre              object
seccionprovincial_id          int64
seccionprovincial_nombre     object
seccion_id                    int64
seccion_nombre               object
circuito_id                  object
circuito_nombre              object
mesa_id                       int64
mesa_tipo                    object
mesa_electores                int64
cargo_id                      int64
cargo_nombre                 object
agrupacion_id                 int64
agrupacion_nombre            object
lista_numero                float64
lista_nombre                 object
votos_tipo                   object
votos_cantidad                int64
dtype: object

In [4]:
dataframe.shape

(5868102, 23)

In [5]:
dataframe.columns

Index(['año', 'eleccion_tipo', 'recuento_tipo', 'padron_tipo', 'distrito_id',
       'distrito_nombre', 'seccionprovincial_id', 'seccionprovincial_nombre',
       'seccion_id', 'seccion_nombre', 'circuito_id', 'circuito_nombre',
       'mesa_id', 'mesa_tipo', 'mesa_electores', 'cargo_id', 'cargo_nombre',
       'agrupacion_id', 'agrupacion_nombre', 'lista_numero', 'lista_nombre',
       'votos_tipo', 'votos_cantidad'],
      dtype='object')

In [6]:
dataframe.head(3)

,año,eleccion_tipo,recuento_tipo,padron_tipo,distrito_id,distrito_nombre,seccionprovincial_id,seccionprovincial_nombre,seccion_id,seccion_nombre,...,mesa_tipo,mesa_electores,cargo_id,cargo_nombre,agrupacion_id,agrupacion_nombre,lista_numero,lista_nombre,votos_tipo,votos_cantidad
0,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,NULO,0
1,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,IMPUGNADO,0
2,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,1,Comuna 01,...,NATIVOS,343,1,PRESIDENTE Y VICE,0,NaN,0.0,NaN,RECURRIDO,0

In [7]:
filtro = (dataframe["distrito_nombre"] == "Ciudad Autónoma de Buenos Aires") & (dataframe["cargo_nombre"] == "PRESIDENTE Y VICE") & (dataframe["agrupacion_nombre"] == "UNION POR LA PATRIA") & (dataframe["seccion_nombre"] == "Comuna 01")
resultado = dataframe.loc[filtro, "votos_cantidad"].sum()
resultado
#Son los votos de la agrupacion en CABA, aparece despues de filtrar. la idea ahora es incluir ese resultado en la tabla

38645

In [8]:
dataframe.tail(2)

,año,eleccion_tipo,recuento_tipo,padron_tipo,distrito_id,distrito_nombre,seccionprovincial_id,seccionprovincial_nombre,seccion_id,seccion_nombre,...,mesa_tipo,mesa_electores,cargo_id,cargo_nombre,agrupacion_id,agrupacion_nombre,lista_numero,lista_nombre,votos_tipo,votos_cantidad
5868100,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,5,Comuna 05,...,EXTRANJEROS,360,12,DIPUTADOS/AS DE LA CIUDAD AUTONOMA,10801,LA LIBERTAD AVANZA,NaN,NaN,POSITIVO,18
5868101,2023,GENERAL,PROVISORIO,NORMAL,1,Ciudad Autónoma de Buenos Aires,0,NaN,5,Comuna 05,...,EXTRANJEROS,360,12,DIPUTADOS/AS DE LA CIUDAD AUTONOMA,10804,FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD,NaN,NaN,POSITIVO,3

In [9]:
dataframe["agrupacion_nombre"].to_frame()
# mejor usar doble corchete
# con corchete simple se ve como una tupla

                                      agrupacion_nombre
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                   UNION POR LA PATRIA
...                                                 ...
5868097                                             NaN
5868098                             UNION POR LA PATRIA
5868099                            JUNTOS POR EL CAMBIO
5868100                              LA LIBERTAD AVANZA
5868101  FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD

[5868102 rows x 1 columns]

In [10]:
dataframe[["agrupacion_nombre","votos_cantidad"]]
#con doble corchete y pasando solo los nombres traes columnas

                                      agrupacion_nombre  votos_cantidad
0                                                   NaN               0
1                                                   NaN               0
2                                                   NaN               0
3                                                   NaN               0
4                                   UNION POR LA PATRIA              95
...                                                 ...             ...
5868097                                             NaN               0
5868098                             UNION POR LA PATRIA              40
5868099                            JUNTOS POR EL CAMBIO              22
5868100                              LA LIBERTAD AVANZA              18
5868101  FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD               3

[5868102 rows x 2 columns]

In [11]:
dataframe.groupby(["agrupacion_nombre","votos_cantidad"]).size().to_frame().head(5)
#Agrupamos las agrupaciones y nos indica los votos que tuvo cada uno (pero no es la suma)
#va a mostrar que ACCION VILLARINO tuvo una fila con 29 votos 1 sola vez, o una fila de 39 votos 2 veces, NO SON LOS VOTOS TOTAL

                                     0
agrupacion_nombre    votos_cantidad
ACCION POR VILLARINO 29              1
                     38              1
                     39              2
                     42              2
                     43              1

In [12]:
dataframe.groupby(["agrupacion_nombre"])["votos_cantidad"].sum().to_frame()
#Ahora si es la suma (se puede sacar promedio, producto, etc, etc)
#Primero se agrupa por agrupacion y despues se calcula la suma de los votos_cantidad
#Si se agrega otro argumento dentro del groupBy, va a cambiar el dataframe

                                   votos_cantidad
agrupacion_nombre
ACCION POR VILLARINO                         6242
ACCION VECINAL GENERAL VILLEGAS               962
AGRUP.VECINAL 24 DE OCTUBRE                  2108
AGRUPACION COMUNAL TRANSFORMADORA            5704
AHORA PATRIA                               570814
...                                           ...
UNIDOS POR LONDRES                           2204
UNION POR LA PATRIA                      54402866
UNION POR SAN LUIS                         243351
UNION Y LIBERTAD                            48679
VECINALISMO POR BRANDSEN                      640

[84 rows x 1 columns]

In [13]:
dataframe.groupby(["agrupacion_nombre","mesa_tipo"])["votos_cantidad"].mean().to_frame()

                                             votos_cantidad
agrupacion_nombre               mesa_tipo
ACCION POR VILLARINO            EXTRANJEROS       47.750000
                                NATIVOS           79.189189
ACCION VECINAL GENERAL VILLEGAS EXTRANJEROS        3.000000
                                NATIVOS           12.139241
AGRUP.VECINAL 24 DE OCTUBRE     EXTRANJEROS        3.000000
...                                                     ...
UNION POR LA PATRIA             NATIVOS           89.340490
UNION POR SAN LUIS              NATIVOS           61.874142
UNION Y LIBERTAD                NATIVOS           12.377066
VECINALISMO POR BRANDSEN        EXTRANJEROS        4.500000
                                NATIVOS            8.089744

[128 rows x 1 columns]

In [14]:
dataframe.groupby(["agrupacion_nombre"])["votos_cantidad"].max().to_frame()
#Va a devolover un df mostrando la mayor cantidad (el valor maximo) de votos que hubo en una fila

                                   votos_cantidad
agrupacion_nombre
ACCION POR VILLARINO                          138
ACCION VECINAL GENERAL VILLEGAS                70
AGRUP.VECINAL 24 DE OCTUBRE                    50
AGRUPACION COMUNAL TRANSFORMADORA              42
AHORA PATRIA                                  196
...                                           ...
UNIDOS POR LONDRES                            180
UNION POR LA PATRIA                           300
UNION POR SAN LUIS                            212
UNION Y LIBERTAD                               80
VECINALISMO POR BRANDSEN                       23

[84 rows x 1 columns]